* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #080b35;
    padding: 20px 50px 20px 50px;
}

.card {
    margin-top: 50px;

    background-color: rgb(204, 197, 197);
    padding: 20px;

    border-radius: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

/* rgb(255, 238, 238) */
/*  */
.card .upper {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 20px;
}

.upper .upper-pic img {
    width: 50%;
    height: 50%;

    border-radius: 100%;
    margin-right: -20px;
}

.upper .upper-name h1 {
    margin-bottom: 20px;
}

.card .bottom {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 20px;
} 

.card .bottom .followers-band {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;

    margin-left: 40px;
}

.card .bottom .follow-btn .btn {
width: 200px;
height: 30px;

border-radius: 50px;
border: none;
background-color: rgb(37, 103, 245);
}

.btn a {
    text-decoration: none;

    color: #fff;
}